// =====================================================================================
// $ VARIABLES
// =====================================================================================

// $ Base font.
@base-font-family: sans-serif;
@base-font-size: 100%;
@base-line-height: 1.4;

// $ Font sizes.
@base-heading1: 2.875em;	// 46px.
@base-heading2: 2.250em;	// 36px.
@base-heading3: 1.750em;	// 28px.
@base-paragraph: 1em;			// 16px.

// $ Font weights.
@light: 100;
@regular: 400;
@bold: 700;

// $ Colors.
@base-link-color: #3498db;
@base-hover-link-color: #0C75BB;
@heading-color: #1abc9c;

// $ Background colors.
@base-selection-bg-color: #b3d4fc;
@base-bg-color: #F0F0F0;

// $ Layout.
@column-width: 60;
@gutter-width: 20;
@columns: 12;
@total-width: 100%;
														// xs screen: <=568px.
@small-screen: 35.563em;		// sm screen: >=569px.
@medium-screen: 48.063em;		// md screen: >=769px.
@large-screen: 64.063em;		// lg screen: >=1025px.

// $ Navigation.
@main-nav-item-font-size: 1.750em;
@main-nav-border-width: 0.313em;
@main-nav-border-color: #2c3e50;
@main-nav-link-color: #ecf0f1;
@main-nav-hover-link-color: #1abc9c;
@nav-bg-color: #34495e;



