html {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #f0f0f0;
}
ul,
ol,
dl,
dd,
blockquote,
hr,
table,
form,
fieldset,
figure,
address {
  margin: 0;
}
ul,
ol {
  list-style-position: outside;
  padding-left: 0;
  list-style: none;
}
ul ul,
ol ol,
ul ol,
ol ul {
  padding-left: 1.250em;
}
img,
video,
audio,
embed,
object {
  max-width: 100%;
  height: auto;
  display: block;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
  font-weight: 700;
  margin: 0;
}
h1 {
  font-size: 2.875em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
p {
  text-rendering: optimizeLegibility;
  font-size: 1em;
  margin: 0 0 0.625em;
}
blockquote {
  padding-left: 1.250em;
  font-size: 1.125em;
  line-height: 1.5;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
a {
  color: #3498db;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
a:hover,
a:focus {
  color: #0c75bb;
}
.u-nav li {
  position: relative;
}
.u-nav a {
  padding: 0.875em;
}
.u-nav-item {
  display: inline-block;
}
.u-nav-item a {
  display: block;
}
.u-nav-subnav {
  display: none;
  z-index: 999;
  min-width: 100%;
  padding-left: 0;
  position: absolute;
}
.u-nav-subnav a {
  white-space: nowrap;
}
.u-nav li:hover > .u-nav-subnav {
  display: block;
}
.loading.is-active {
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: none;
}
.loading {
  opacity: 0;
  position: fixed;
  width: 0%;
  height: 0%;
  background-color: #34495e;
  transition: all 0.5s ease-in-out;
}
.loading img {
  position: absolute;
  width: 100%;
  height: 100%;
}
[data-route] {
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 93px;
  height: 100%;
  max-height: 100%;
}
.is-active {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: all 2s ease-in-out;
}
.mainNav {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin: 0;
  width: 100%;
}
.mainNav .u-nav {
  border-bottom: 0.313em solid #2c3e50;
  background-color: #34495e;
}
.mainNav .u-nav a {
  color: #ecf0f1;
}
.mainNav .u-nav a:hover {
  color: #1abc9c;
}
.mainNav .u-nav-item {
  font-size: 1.75em;
}
[data-bind$="itle"] {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  color: #1abc9c;
  margin-top: 25px;
  margin-bottom: 50px;
}
[data-bind="description"] {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  margin-bottom: 30px;
}
.movie {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(210, 210, 210, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  margin-top: 8px;
}
.movie h1 {
  font-size: 22px;
  margin: 10px 0;
}
.movie img {
  margin: 0 auto;
}
.movie p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.movie aside {
  width: 90%;
  height: 25px;
  position: absolute;
  bottom: 0;
}
.movie .review {
  margin-top: 0;
  width: 50%;
  float: left;
  text-align: left;
}
.movie [data-bind="details"] {
  width: 50%;
  float: right;
  text-align: right;
}
.detailsMovie {
  text-align: center;
}
.detailsMovie section {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
.detailsMovie section h2 {
  color: #1abc9c;
  text-align: center;
  margin-top: 30px;
}
[data-bind="actor_name"] {
  display: inline-block;
  width: 44%;
  text-align: right;
}
[data-bind="character"] {
  display: inline-block;
  width: 44%;
  text-align: left;
  margin-left: 10%;
}
[data-bind="name"] {
  text-align: center;
}
@media only screen and (min-width: 35.563em) {
  [data-bind="description"]:not(:nth-of-type(3)) {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
    margin-bottom: 30px;
  }
  .movie {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
    min-height: 575px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media only screen and (min-width: 48.063em) {
  [data-bind="description"] {
    display: inline !important;
    float: left !important;
    width: 31.25% !important;
    margin: 0 1.04166667% !important;
  }
  .movie {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04166667%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 64.063em) {
  .movie {
    display: inline;
    float: left;
    width: 22.91666667%;
    margin: 0 1.04166667%;
    min-height: 610px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
